@charset "utf-8";

@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_ryuttung-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CHOGOONCHICKENSCRATCHV3";
  src: url("./../font/CHOGOONCHICKENSCRATCHV3-Regular.ttf") format("truetype");
  font-weight: normal;
}



*{box-sizing: border-box;}

body    {background-color: #fff; display: flex; flex-direction: column; align-items: center; margin: 0; min-height: 100vh;}
h1      {margin: 0; margin-bottom: 12px; font-family: "CHOGOONCHICKENSCRATCHV3";}
.todo-container       {width: 100%; background-color: #ffe8ad; text-align: center; padding: 20px;}
#inputField   {display: flex; flex-flow: row nowrap; justify-content: space-between;}
#inputField #todoInput    { width: 90%; height: 35px;  font-family: 'Ownglyph_ryuttung-Rg';}
#inputField #todoInput:focus{outline: none;}
#inputField #addBtn         {position: relative; width: 35px; height: 35px; border: none; background-color: #242423; border-radius: 4px; cursor: pointer; vertical-align: middle;}
#inputField #addBtn span    { display: block; width: 2px; height: 15px; background-color : #ffe9ad; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}
#inputField #addBtn span:last-child     {transform: translate(-50%,-50%) rotate(-90deg);}

/* 동적생성 ul,li,button(체크박스) style */
#todoList   {list-style: none; margin: 0; padding: 10px; text-align: left;}
#todoList li    {display: flex; flex-flow: row nowrap; justify-content: space-between; padding: 10px 0; user-select: none; font-size: 25px; font-family: 'Ownglyph_ryuttung-Rg';}
#todoList li span   {display: inline-block; word-wrap: break-word; width: 80%;}
#todoList button.success    { width: 15px; height: 15px; background-color: #fff; margin-right: 8px; border: none; border-radius: 4px; cursor: pointer;}
#todoList a.del    {position: relative; width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%;}
#todoList a.del::after    {position: absolute; left: 0; top: 0; content: "X"; font-size: 17px; color: red; display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center;}

/* 리스트 완료 style */
#todoList li.complete { text-decoration: line-through; color: rgb(155, 155, 155); } 
#todoList li.complete button::after { content: ""; display: block; width: 5px; height: 10px; transform: translate(-2px, -2px) rotate(45deg); border-right: 2px solid #f1b116; border-bottom: 2px solid #f1b116; }

.all-delete-wrap button.all-del-btn { cursor: pointer; border: none; border-radius: 8px; background-color: #242423; color: #fff; padding: 8px; font-family: 'Ownglyph_ryuttung-Rg';}